body {
  font-family: sans-serif;
  margin: 0;
}

html,
body{
  height: 100%;
  width: 100%;
}

div{
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-areas:
  "h h h h"
  "s m m m"
  "f f f f";
}
.header{
  grid-area: h;
}
.sidebar{
  grid-area: s;
  display: flex;
  justify-content: center;
}
.main{
  grid-area: m;
  display: flex;
  justify-content: center;
}
.footer{
  grid-area: f;
  display: flex;
  justify-content: center;
}
.menu{
  display: flex;
  justify-content: center;
}
/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
  width: 25vw;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
  width: 75vw;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
